<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- package-name : com.demoweb.mapper, class-name : BoardMapper -->
<mapper namespace="com.traveler.mapper.BoardMapper">

<!--  
	<insert id="insertBoard" parameterType="BoardVO">
	INSERT INTO BOARD (TITLE, WRITER, CONTENT) 
	VALUES (#{ title }, #{ writer }, #{ content })
	</insert>
	
	<select id="selectAll" resultType="BoardVO">
	SELECT BOARDNO, TITLE, WRITER, READCOUNT, REGDATE, DELETED
	FROM BOARD 
	ORDER BY BOARDNO DESC
	</select>
	
	<select id="selectBoardByBoardNo" parameterType="int" resultType="BoardVO">
	SELECT BOARDNO, TITLE, CONTENT, WRITER, READCOUNT, REGDATE 
	FROM BOARD
	WHERE BOARDNO = #{ boardNo } AND DELETED = false 
	</select>
	
	<update id="updateBoardDeleted" parameterType="int">
	UPDATE BOARD 
	SET DELETED = true
	WHERE BOARDNO = #{ boardNo }
	</update>
	
	<update id="updateBoardReadCount" parameterType="int">
	UPDATE BOARD 
	SET READCOUNT = READCOUNT + 1
	WHERE BOARDNO = #{ boardNo }
	</update>

	<update id="updateBoard" parameterType="BoardVO">
	UPDATE BOARD 
	SET TITLE= #{ title }, CONTENT= #{ content }
	WHERE BOARDNO = #{ boardNo }
	</update>
-->

<!-- 	
	<select id="selectFlightsByFlightsNo" parameterType="int" resultType="BoardVO">
	SELECT FLIGHT, DATE_FROM, DATE_TO, AIRLINE, DESTINATION 
	FROM flights_schedules
	WHERE airline = #{ airline } 
	</select> 
-->
	
</mapper>